__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/

build/
dist/
*.egg-info/
.eggs/
parts/
var/
sdist/
lib64/
.installed.cfg
*.egg

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.manifest
*.spec

*.log
pip-log.txt
pip-delete-this-directory.txt
